:root
  --primary-font: 'Rubik'
  --primary-text-pale-violet: hsl(276, 100%, 81%)
  --primary-text-moderate-violet: hsl(276, 55%, 52%)
  --primary-text-dark-grayish-violet: hsl(270, 7%, 64%)
  --primary-text-desaturated-dark-violet: hsl(271, 15%, 43%)
  --primary-text-grayish-blue: hsl(206, 6%, 79%)
  --light-magenta: hsl(293, 100%, 63%)
  --light-violet: hsl(264, 100%, 61%)
  --secondary-white: hsl(0, 0%, 100%)
  --secondary-light-grayish-violet: hsl(270, 20%, 96%)
  --secondary-very-dark-desaturated-violet: hsl(271, 36%, 24%)
  --secondary-very-light-magenta: hsl(289, 100%, 72%)
  --clear-violet: rgba(136, 56, 255, 0.1)

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  white-space: nowrap
  border-width: 0

.container
  position: relative
  z-index: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  overflow-x: hidden
  min-width: 320px
  min-height: 100vh
  background-color: var(--secondary-light-grayish-violet)
  font-family: var(--primary-font), sans-serif

.landing__container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  z-index: 10
  padding-top: 60px

  @media screen and (min-width: 1024px)
    flex-direction: row
    justify-content: space-evenly
    max-width: 72rem
    padding-top: 0

.landing__bgtop
  background: linear-gradient(to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%))
  border-radius: 0px 0px 999px 999px
  max-height: 38rem
  max-width: 25.5rem
  height: 100%
  width: 100%
  z-index: 0
  position: absolute
  top: 0
  left: -185px

  @media screen and (min-width: 768px)
    max-height: 45rem
    max-width: 38rem

  @media screen and (min-width: 1024px)
    max-height: 54rem
    max-width: 14.8rem
    left: -100px

  @media screen and (min-width: 1280px)
    max-height: 48rem
    max-width: 26rem
    left: -100px

.landing__bgbtm
  display: none
  background: linear-gradient(to top, hsl(293, 100%, 63%), hsl(264, 100%, 61%))
  opacity: 5%
  border-radius: 999px 999px 0px 0px
  max-height: 42rem
  max-width: 27.5rem
  height: 100%
  width: 100%
  z-index: 0
  position: absolute
  bottom: 0
  right: -90px

  @media screen and (min-width: 1024px)
    display: block

.landing__phone
  background-color: var(--secondary-white)
  display: flex
  flex-direction: column
  justify-content: center
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 15px
  padding-right: 15px
  margin-bottom: 15px
  border-radius: 30px
  width: 100%
  max-width: 20rem
  box-shadow: 0 7px 11px -13px var(--secondary-very-dark-desaturated-violet)

  .phone__header
    background: linear-gradient(to right, var(--light-violet), var(--light-magenta))
    border-top-left-radius: 25px
    border-top-right-radius: 25px
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px
    display: flex
    flex-direction: column
    align-items: center
    color: var(--secondary-white)

    .phone__notch
      height: 20px
      width: 175px
      background: var(--secondary-white)
      border-bottom-left-radius: 15px
      border-bottom-right-radius: 15px

    .phone__backcontrol
      background-color: transparent
      color: var(--secondary-white)
      border: none
      font-size: 1rem
      margin-right: 5px
      font-weight: 600

    .phone__morecontrol:after
      content: '\2807'
      font-size: 1.25rem

    .phone__status
      display: flex
      align-items: center
    
    .profile__inner
      display: flex
      flex-direction: row

    .phone__profile
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      width: 100%
      margin-top: 10px
      margin-bottom: 10px
      padding-left: 10px
      padding-right: 10px
      font-size: 0.875rem

      .profile__name
        font-weight: 500

      .profile__status
        color: var(--primary-text-pale-violet)
        font-size: 0.675rem

      .profile__image
        width: 32px
        height: 32px
        border: 1.5px solid var(--secondary-white)
        border-radius: 999px
        margin-right: 10px

  .phone__content
    display: flex
    flex-direction: column
    background-color: var(--secondary-light-grayish-violet)
    padding: 10px
    border-bottom-left-radius: 25px
    border-bottom-right-radius: 25px

    .text__loading
      display: none
      width: 100%
      max-width: 12rem
      padding-top: 8px
      padding-bottom: 8px
      padding-left: 45px
      padding-right: 45px
      margin-bottom: 10px
      border-radius: 10px
      justify-content: space-evenly
      align-items: center
      background-color: rgba(0, 0, 0, 0.1)

      &--target
        &-self
          align-self: start
        &-other
          align-self: end

      .loading__bubble
        width: 24px
        height: 24px
        border-radius: 999px
        background-color: lightgray

      @keyframes placeholderLoading
        0%
          background-color: lightgray
        50%
          background-color: gray
        100%
          background-color: darkgray

      .animated__bubble
        animation-fill-mode: forwards
        animation-iteration-count: infinite
        animation-name: placeholderLoading
        animation-timing-function: step-start

        &--duration
          &-3
            animation-duration: 3s
          &-5
            animation-duration: 5s
          &-7
            animation-duration: 6s

    .phone__text
      display: flex
      font-size: 0.75rem
      max-width: 12rem
      padding-top: 8px
      padding-bottom: 8px
      padding-left: 12px
      padding-right: 12px
      margin-bottom: 10px
      border-radius: 10px

      &--target
        &-self
          background-color: var(--clear-violet)
          color: var(--primary-text-moderate-violet)
          align-self: start
        &-other
          background-color: var(--secondary-white)
          color: var(--primary-text-desaturated-dark-violet)
          align-self: end
          box-shadow: 0 1px 4px -3px var(--secondary-very-dark-desaturated-violet)

    .phone__media
      display: flex
      flex-direction: row
      justify-content: space-between
      align-self: end
      width: 170px
      margin-bottom: 10px

      .media__image
        width: 52px
        height: 52px
        border-radius: 15px

    .phone__input
      display: flex
      flex-direction: column
      padding-top: 10px
      padding-bottom: 10px
      margin-top: -5px

      .input__textfield
        width: 100%
        background-color: var(--secondary-white)
        border: none
        border-radius: 999px
        padding-top: 2px
        padding-right: 2px
        max-height: 50px

        .textfield__label
          display: none

        .textfield__text
          width: 85%
          padding-top: 12px
          padding-bottom: 12px
          padding-left: 15px
          padding-right: 15px
          border-top-left-radius: 999px
          border-bottom-left-radius: 999px
          border: none
          
          &:focus
            outline: none

          &::placeholder
            font-size: 0.75rem
            color: var(--primary-text-grayish-blue)

        .textfield__submit
          background-color: var(--secondary-very-dark-desaturated-violet)
          color: var(--secondary-white)
          font-size: 1.25rem
          font-weight: 700
          margin-left: -10px
          border: none
          border-radius: 999px
          height: 40px
          width: 40px

      .input__option
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        padding: 10px
        max-width: 14rem
        margin-bottom: 10px
        background: linear-gradient(to right, var(--light-magenta), var(--light-violet))
        border: none
        border-top-left-radius: 15px
        border-top-right-radius: 15px
        border-bottom-left-radius: 8px
        border-bottom-right-radius: 15px
      
        .option__radio
          background: transparent
          border: 2px solid var(--secondary-very-light-magenta)
          outline-color: var(--secondary-very-light-magenta)
          appearance: none
          width: 14px
          height: 14px
          padding: 7px
          border-radius: 999px

          &:checked
            background-color: var(--light-violet)

        .option__label
          display: flex
          width: 100%
          flex-direction: row
          justify-content: space-between
          align-items: center
          font-size: 0.725rem
          color: var(--primary-text-grayish-blue)
          margin-left: 5px

        .option__price
          padding-right: 15px
          font-size: 1rem
          font-weight: 500
          color: var(--secondary-white)

.landing__main
  padding: 10px
  text-align: center

  @media screen and (min-width: 1024px)
    text-align: left
    max-width: 32rem

  .main__heading
    color: var(--primary-very-dark-desaturated-violet)
    font-size: 2.5rem
    font-weight: 500

    @media screen and (min-width: 1024px)
      padding-left: 20px

  .main__paragraph
    color: var(--primary-text-dark-grayish-violet)
    padding-left: 20px
    padding-right: 20px
    line-height: 1.75em
    margin-top: 10px
